p {
    background-color: pink;
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(208, 208, 218);
}


.container {
    display: grid; 
    grid-template-rows: 100px auto 100px; 
     
    height: 100vh; 
    background-color: #e7dddd;
    gap: 10px; 
}

.container1 {
    display: grid;
    grid-template-columns: 2;
    background-color: #319cdf; 
}

.cabecera {
    grid-row: 1; /* Ocupa la primera fila (arriba) */
    grid-column: 1;
    background-color: #d7e1e7; /* Color de fondo para la cabecera */ 
    text-align: center;
    padding: 20px;
}

.contenido {
    grid-row: 1; /* Ocupa la segunda fila (en medio) */
    grid-column: 1;
    background-color: #ecf0f1; /* Color de fondo para el contenido */
    padding: 20px;
}

.pie {
    grid-row: 3; /* Ocupa la tercera fila (abajo) */
    grid-column: 1;
    background-color: #34495e; /* Color de fondo para el pie de página */
    color: #06c14e; /* Color de texto para el pie de página */
    text-align: center;
    padding: 10px;
}


.columna {
    grid-row: 1; /* Ocupa la segunda fila (en medio) */
    grid-column: 2;
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
}







/* conjunto de liberias(plataforma)(marco de trabajo, facilidad de trabajo en el desarrolo web(acelerar el proceso)) es como una herramienta que te dan para facilitar el tabajo*/
/* la seguridad web()( planifiación, hacer, chekeo, ael actuar) la seguridad de la información confidencialidad, integridad y disponibilidad*/
/* la confialidad, la integridad (que sea precisa consistente(no redundancia de datos, que se el mismo dato) y confiable) */