p {
    background-color: pink;
}


body {
    width: 100%;
    height: 100%;
    margin: 0;
    background-color: rgb(208, 208, 218);
}


.container {
    display: grid; /* Aquí estamos creando nuestra cuadrícula */
    grid-template-rows: 100px auto 100px; /* Tres filas: cabecera, contenido, pie */
    grid-template-columns: 1fr 1fr; /* Esto significa una columna */
    height: 100vh; /* Esto hace que la cuadrícula ocupe toda la pantalla */
    background-color: #e7dddd;
    gap: 10px; 
}


.cabecera {
    grid-row: 1; /* Ocupa la primera fila (arriba) */
    grid-column: 1;
    background-color: #d7e1e7; /* Color de fondo para la cabecera */
    text-align: center;
    padding: 20px;
}

.contenido {
    grid-row: 2; /* Ocupa la segunda fila (en medio) */
    grid-column: 1;
    background-color: #ecf0f1; /* Color de fondo para el contenido */
    padding: 20px;
}

.pie {
    grid-row: 3; /* Ocupa la tercera fila (abajo) */
    grid-column: 1;
    background-color: #34495e; /* Color de fondo para el pie de página */
    color: #06c14e; /* Color de texto para el pie de página */
    text-align: center;
    padding: 10px;
}


.columna {
    grid-row: 2; /* Ocupa la segunda fila (en medio) */
    grid-column: 2;
    border: 1px solid #000;
    padding: 20px;
    text-align: center;
}
