h1{
    color: white;
    text-align: center;
    background: rgb(89, 88, 89);
    font-family: Arial, Helvetica, sans-serif;

}

b {
    font-size: large;
}

i {
    font-size: medium;
}

h3 {
    color: lightgray;
    text-align: center;
    background: rgb(89, 88, 89);
    font-family: Arial, Helvetica, sans-serif;
    height: 100px;
}

h4 {
    font-size:larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-indent: 5%;
}

p {
    text-align: justify;
    text-indent: 2%;
    font-family: sans-serif;
}

b{
    font-family: sans-serif;
}

li {
    font-family: sans-serif;
}

#parent {
display: flex;
}
#izquierda {
width: 400px;
background: rgb(242, 243, 243);

}
#derecha {
flex: 1;

background: white;

}